{% extends 'accounts/main.html' %}

{% block content %}
    {% include 'accounts/status.html' %}

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Note</th>
                        <th>Date Orderd</th>
                        <th>Status</th>
                    </tr>
    
                    {% for i in orders %}
                    <tr>
                        <th>{{i.product}}</th>
                        <th>{{i.note}}</th>
                        <th>{{i.date_created}}</th>
                        <th>{{i.status}}</th>
                    </tr>
                    {% endfor %}
    
                </table>
            </div>
        </div>
    </div>


{% endblock content %}